<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h3>Remote Relay Control Module with Siri Integration</h2>
      <p>API built by Eddie and Joseph Cheng
      server: <font color="green">ONLINE</font>, firmware version <font color="green">2.0.0</font></p>
              <pre>  BCM#   Board#  BCM#
<font color="red">   3V3</font>  (1) (2)  <font color="red">5V</font>
<font color="green"> GPIO2</font>  (3) (4)  <font color="red">5V</font>
<font color="green"> GPIO3</font>  (5) (6)  <font color="996600">GND</font>
<font color="green"> GPIO4</font>  (7) (8)  <font class="GPIO-button" id="1">GPIO14</font>-IN1-Left Lamp 
<font color="996600">   GND</font>  (9) (10) <font class="GPIO-button" id="2">GPIO15</font>-IN2-RightLamp
<font color="green">GPIO17</font> (11) (12) <font class="GPIO-button" id="3">GPIO18</font>-IN3
<font color="green">GPIO27</font> (13) (14) <font color="996600">GND</font>
<font color="green">GPIO22</font> (15) (16) <font  class="GPIO-button" id="4">GPIO23</font>-IN4
<font color="red">   3V3</font> (17) (18) <font  class="GPIO-button" id="5">GPIO24</font>
<font color="green">GPIO10</font> (19) (20) <font color="996600">GND</font>
<font color="green"> GPIO9</font> (21) (22) <font  class="GPIO-button" id="6">GPIO25</font>
<font color="green">GPIO11</font> (23) (24) <font  class="GPIO-button" id="7">GPIO08</font>
<font color="996600">   GND</font> (25) (26) <font class="GPIO-button" id="8">GPIO07</font>
<font color="green"> GPIO0</font> (27) (28) <font color="green">GPIO01</font>
<font color="green"> GPIO5</font> (29) (30) <font color="996600">GND</font>
<font color="green"> GPIO6</font> (31) (32) <font color="green">GPIO12</font>
<font color="green"> GIO13</font> (33) (34) <font color="996600">GND</font>
<font color="green">GPIO19</font> (35) (36) <font color="green">GPIO16</font>
<font color="green">GPIO26</font> (37) (38) <font color="green">GPIO20</font>
<font color="996600">   GND</font> (39) (40) <font color="green">GPIO21</font></pre>
   <script>
var GPIObuttons = document.getElementsByClassName("GPIO-button");
	window.buttons = {};
      for (var b of GPIObuttons) {
         window.buttons[b.id] = 0;
        b.style.color = "red"
         b.addEventListener("click", function() {
		const state = window.buttons[this.id];
		window.buttons[this.id] = state ^ 1;
	    if (state) {
		fetch(`/IN${this.id}/off`)
	    } else {
	    	fetch(`/IN${this.id}/on`)
	    }
	    this.style["color"] = state ^ 1 ? "green" : "red";
         })
      }
   </script>
   </body>
</html>
